/* remove many buttons in the message bar */
button[aria-label="Ouvrir le sélecteur d'autocollant"],
button[aria-label="Ouvrir l'onglet des GIF"],
    /* I don't care about quests, Discord */
div[aria-label="A terminé une quête"],
    /* hide a few buttons from the top bar of channels */
div[aria-label="Paramètres de notification"],
html:not(.is-mobile) div[aria-label="Masquer la liste des membres"],
div[aria-label="Aide"],
    /* hide the activity list thingy on top of the member list, they're not members */
.membersGroup_c8ffbb:has(.headerContainer__095fe),
    /* do not display reaction suggestions */
.hoverBarButton_f84418:has(.buttonContent_f84418),
.buttonContainer_c19a55 .separator_f84418,
    /* that app launcher thing just makes the message field smaller */
.channelAppLauncher_e6e74f {
    display: none;
}
.jumpToPresentBar__0f481 {
    right: 16px;
}

/* gray out extra tags that are injected by MoreUserTags */
.botTag_c19a55:not([data-tag="app"]):not([data-tag="webhook"]):not([data-tag="ai"]), .botTag__5d473:not([data-tag="app"]):not([data-tag="webhook"]):not([data-tag="ai"]) {
    background: var(--bg-mod-strong);
}
.botTag_c19a55:not([data-tag="app"]):not([data-tag="webhook"]):not([data-tag="ai"]) span, .botTag__5d473:not([data-tag="app"]):not([data-tag="webhook"]):not([data-tag="ai"]) span {
    color: var(--text-normal);
}

/* APP => Bot */
.botTag_c19a55[data-tag="app"], .botTag__5d473[data-tag="app"] {
    overflow: hidden;
}
.botTag_c19a55[data-tag="app"] span::before, .botTag__5d473[data-tag="app"] span::before {
    content: 'Bot\00a0\00a0';
}

/* remove profile themes */
.avatarDecoration__44b0c,
.profileEffects__01370 {
    visibility: hidden;
}
.banner__68edb {
    background-image: none !important;
}
.banner__68edb .gifTag_f60819 {
    display: none;
}

/* expand bios by default */
.descriptionClamp_f5f93a {
    -webkit-line-clamp: 15;
}
.descriptionClamp_f5f93a .markup__75297 {
    max-height: 270px;
}
.viewFullBio_f5f93a {
    display: none;
}

/* reduced motion shiggy */
.vc-settings-donate img {
    display: none;
}
.vc-settings-donate::after {
    content: '';
    image-rendering: pixelated;
    margin-left: auto;
    background: url('https://media.discordapp.net/stickers/1039992459209490513.png?passthrough=false') center / contain no-repeat;
    width: 128px;
    height: 128px;
}
.vc-settings-donate:hover::after {
    background: url('https://media.discordapp.net/stickers/1039992459209490513.png') center / contain no-repeat;
}

/* map surCord colors to Discord brand colors */
:root {
    --bg-brand: var(--accent);
    --brand-500: var(--accent);
    --brand-560: var(--accent-hover);
    --brand-600: var(--accent-selected);
    --button-secondary-background-hover: var(--accent-hover);
    --button-secondary-background-active: var(--accent-selected);
}
/* un-color the title bar */
:root {
    --surCordTitleBar: initial;
}
/* un-color the guilds bar */
.guilds_c48ade {
    background-color: transparent;
}

/* fix "Save Note" button centering in message actions */
div[aria-label="Save Note"] svg {
    margin-left: 2px;
    margin-right: -2px;
}

/* fix server icon backgrounds being opaque */
.theme-light .guilds_c48ade .scroller_ef3116, .theme-dark .guilds_c48ade .scroller_ef3116 {
    background-color: transparent;
}

/* folder color */
.folder__48112 {
    background: var(--background-primary) !important;
}
.folderIconWrapper__48112 {
    background-color: transparent !important;
}
.folderIconWrapper__48112 svg {
    color: var(--accent) !important;
}
.closedFolderIconWrapper__48112 {
    display: none;
}
.theme-dark .circleIconButton__5bc7e {
    border: none;
}
