/* remove sticker and GIF selector from the chat bar */
.buttonContainer__74017:has(.lottieIcon__5eb9b),
/* no badges for you */
.container__8061a,
/* hide a few buttons from the top bar of channels */
.toolbar__9293f > .iconWrapper__9293f[aria-label="Paramètres de notification"],
.toolbar__9293f > .iconWrapper__9293f[aria-label="Masquer la liste des membres"],
.upperContainer__9293f .anchor_edefb8,
/* hide the activity list thingy on top of the member list, they're not members */
.membersGroup_c8ffbb:has(.headerContainer__095fe),
/* do not display reaction suggestions */
.hoverBarButton_f84418:has(.buttonContent_f84418),
.buttonContainer_c19a55 .separator_f84418,
/* that app launcher thing just makes the message field smaller */
.channelAppLauncher_e6e74f,
/* kick out "download apps" button */
.scroller_ef3116 > .listItem__650eb:not(:has(.guildSeparator__252b6)),
/* no, Discord, I don't want to remix images with AI, thanks */
.hoverButtonGroup__06ab4,
/* remove controller icon and dot from activity message */
.textXs_c9d15c .icon_c9d15c,
.textXs_c9d15c .dot_c9d15c,
/* wtf is a guild tag anyway */
.clanTagChiplet_c19a55,
.clanTag__5d473,
.clanTag__972a0,
/* yeet the owner crown, redundant with MoreUserTags */
.ownerIcon__5d473 {
    display: none;
}
.jumpToPresentBar__0f481 {
    right: 16px;
}

/* fix names and decorators being separated in the user list */
.name__91a9d {
    width: initial;
}

/* gray out extra tags that are injected by MoreUserTags */
.botTag_c19a55:not([data-tag="app"]):not([data-tag="webhook"]):not([data-tag="ai"]), .botTag__5d473:not([data-tag="app"]):not([data-tag="webhook"]):not([data-tag="ai"]) {
    background: var(--bg-mod-strong);
}
.botTag_c19a55:not([data-tag="app"]):not([data-tag="webhook"]):not([data-tag="ai"]) span, .botTag__5d473:not([data-tag="app"]):not([data-tag="webhook"]):not([data-tag="ai"]) span {
    color: var(--text-normal);
}

/* nope out "nameplates", those purchasable user list backgrounds */
.childContainer__91a9d.nameplated__91a9d {
    padding-right: 8px;
    position: static;
}
.childContainer__91a9d.nameplated__91a9d .container__4bbc6 {
    background: none !important;
}
.childContainer__91a9d.nameplated__91a9d .img__4bbc6 {
    display: none;
}

/* kick out the second title bar the March 2025 visual refresh brought us */
body {
    --custom-app-top-bar-height: 0;
    --custom-app-panels-height: 80px !important;
}

/* APP => Bot */
.botTag_c19a55[data-tag="app"], .botTag__5d473[data-tag="app"] {
    overflow: hidden;
}
.botTag_c19a55[data-tag="app"] span::before, .botTag__5d473[data-tag="app"] span::before {
    content: 'Bot\00a0\00a0';
}
.botTag_c19a55[data-tag="app"] span, .botTag__5d473[data-tag="app"] span {
    width: 1.55em;
    text-wrap: nowrap;
}

/* remove profile themes */
.avatarDecoration__44b0c,
.avatarDecoration_c19a55,
.profileEffects__01370 {
    visibility: hidden;
}
.banner__68edb {
    background-image: none !important;
}
.banner__68edb .gifTag_f60819 {
    display: none;
}

/* expand bios by default */
.descriptionClamp_f5f93a {
    -webkit-line-clamp: 15;
}
.maxBioHeight_f5f93a {
    max-height: 270px;
}
.viewFullBio_f5f93a {
    display: none;
}

/* fix microphone button being offset to the left in profile box */
.micButtonParent__37e49 {
    margin-left: 4px;
    margin-right: 0;
}

/* map surCord colors to Discord brand colors */
.visual-refresh.theme-dark, .visual-refresh.theme-light {
    --bg-brand: var(--accent);
    --brand-500: var(--accent);
    --text-link: var(--accent);
    --text-brand: var(--accent);
    --brand-560: var(--accent-hover);
    --brand-600: var(--accent-selected);
    --button-secondary-background-hover: var(--accent-hover);
    --button-secondary-background-active: var(--accent-selected);
    --mention-foreground: var(--accent);
    --mention-background: color-mix(in oklab, var(--accent) 10%, transparent 90%);
}
/* un-color the title bar */
:root {
    --surCordTitleBar: initial;
}
/* surCord vs. March 2025 visual refresh fixes */
.visual-refresh .wrapper_ef3116 {
    margin-top: 0;
    margin-bottom: 0;
}
.visual-refresh .wrapper_ef3116 .itemsContainer_ef3116 {
    padding-top: 29px;
}
.visual-refresh .channelTextArea__74017 {
    border-radius: 24px
}

/* remove padding before BetterActivities icons */
.subText__91a9d .textXs_c9d15c div:last-child {
    margin-left: 0;
}

/* fix semi-transparent code blocks */
.theme-light .markup__75297 code {
    background: initial !important;
}

/* fix "Save Note" button centering in message actions */
div[aria-label="Save Note"] svg {
    margin-left: 2px;
    margin-right: -2px;
}

/* fix color behind username panel on the bottom left */
.theme-light .sidebar_c48ade {
    background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .sidebar_c48ade {
    background: var(--bg-overlay-3, var(--background-secondary));
}
/* fix background overflowing from username panel on the bottom left */
.theme-dark section.panels_c48ade, .theme-light section.panels_c48ade {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
}
.panels_c48ade .container__37e49 {
    background: transparent;
}

/* fix server icon backgrounds being opaque */
.theme-light .guilds_c48ade .scroller_ef3116, .theme-dark .guilds_c48ade .scroller_ef3116 {
    background-color: transparent;
}

/* fix (+) icon placement in guilds list */
.circleIcon__5bc7e path {
    transform-origin: -1px -1px;
}

/* folder color */
.theme-light .folder__48112 {
    background: rgba(231, 234, 237, .436) !important;
}
.theme-dark .folder__48112 {
    background: rgba(39, 38, 41, .276) !important;
}
.folderIconWrapper__48112 {
    background-color: transparent !important;
}
.theme-dark .folderIconWrapper__48112 {
    background-color: rgb(66, 65, 95) !important;
}
.folderIconWrapper__48112 svg {
    color: var(--accent) !important;
}
.closedFolderIconWrapper__48112 {
    display: none;
}
.theme-dark .circleIconButton__5bc7e {
    border: none;
}
/* shrink the folder icon to match the server icons */
.folderIcon__48112 {
    height: 40px;
}
.folderIcon__48112 .wrapper_cc5dd2 svg {
    height: 48px;
}
