.accordion {
    margin-bottom: 20px;
}

.badge {
    margin-left: 5px;
    margin-right: 5px;
}
.badge.bg-secondary {
    margin-left: 0;
}

.description {
    margin-top: 10px;
}
.contact {
    margin-top: 10px;
}

@media (prefers-color-scheme: dark) {
    .accordion-item, .accordion-button.collapsed {
        background-color: #000;
        color: #fff;
    }

    .accordion-button:not(.collapsed) {
        background-color: #072e3c;
        color: #73b6ff;
    }

    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2373b6ff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}
