.navbar {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 16px;
}

@media(max-width: 575px) {
    .container-fluid {
        display: block !important;
        text-align: center;
    }
    .navbar-nav {
        display: block;
    }
    .nav-item {
        display: inline-block;
    }
}

.dropdown-menu {
    background-color: var(--bs-info-bg-subtle);
    border-color: var(--bs-info-border-subtle);
}
.dropdown-header {
    color: var(--bs-body-color);
}
.navbar {
    background-color: #FFB8DD !important;
    background-image: url('/img/navbar-bg.svg');
}

@font-face {
    font-family: "Gontserrat";
    src: url('/fonts/Gontserrat-Light.ttf');
}
@font-face {
    font-family: "Hey August";
    src: url('/fonts/HeyAugust.otf');
}

.navbar .navbar-brand a {
    color: #74224C;
    text-decoration: none;
    font-family: "Hey August", sans-serif;
    font-size: 30px;
}
.navbar-nav {
    font-family: "Gontserrat", sans-serif;
}

.navbar-brand img {
    border-radius: 50%;
    height: 50px;
    margin-right: 7px;
    margin-top: -14px;
    margin-bottom: -5px;
}

.month-6 .navbar-brand a::before {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    background: linear-gradient(to bottom, #5BCEFA 0% 20%, #F5A9B8 20% 40%, #FFF 40% 60%, #F5A9B8 60% 80%, #5BCEFA 80% 100%);
    content: '';
    display: inline-block;
    margin-right: -53px;
    margin-bottom: -16px;
    margin-top: -20px;
}

.month-6 .navbar-brand img {
    background-color: #FFB8DD;
}

h1, h2, h3 {
    font-family: Gontserrat, sans-serif;
}

body {
    --bs-body-color: #74224C;
    --bs-body-bg: #FFF8FB;

    --bs-info-text-emphasis: #74224C;
    --bs-info-bg-subtle: #FFDFF0;
    --bs-info-border-subtle: #FF93CB;
}

.form-control:focus {
    border-color: var(--bs-body-color);
    box-shadow: 0 0 0 .25rem #74224C44;
}

a {
    color: rgb(200, 14, 118);
}

.btn-primary {
  --bs-btn-bg: #CE217A;
  --bs-btn-border-color: #CE217A;
  --bs-btn-hover-bg: #A61E64;
  --bs-btn-hover-border-color: #A61E64;
  --bs-btn-active-bg: #A61E64;
  --bs-btn-active-border-color: #A61E64;
  --bs-btn-disabled-bg: #A61E64;
  --bs-btn-disabled-border-color: #A61E64;
}

.btn-outline-primary {
  --bs-btn-color: #CE217A;
  --bs-btn-border-color: #CE217A;
  --bs-btn-hover-bg: #A61E64;
  --bs-btn-hover-border-color: #A61E64;
  --bs-btn-active-bg: #A61E64;
  --bs-btn-active-border-color: #A61E64;
  --bs-btn-disabled-bg: #A61E64;
  --bs-btn-disabled-border-color: #A61E64;
}

@media(prefers-color-scheme: dark) {
    .navbar .navbar-brand a {
        color: #FFC6E3;
    }
    .navbar {
        background-image: url('/img/navbar-bg-dark.svg');
        background-color: #77286E !important;
    }
    .month-6 .navbar-brand img {
        background-color: #77286E;
    }

    body {
        --bs-body-color: #FFCEE7;
        --bs-body-bg: #1E0B1C;

        --bs-info-text-emphasis: #FFCEE7;
        --bs-info-bg-subtle: #62205B;
        --bs-info-border-subtle: #A8369B;
    }

    .form-control:focus {
        box-shadow: 0 0 0 .25rem #FFCEE744;
    }

    a {
        color: rgb(255, 132, 195);
    }

    .btn-primary {
        --bs-btn-bg: #862D7D;
        --bs-btn-border-color: #862D7D;
        --bs-btn-hover-bg: #591D53;
        --bs-btn-hover-border-color: #591D53;
        --bs-btn-active-bg: #591D53;
        --bs-btn-active-border-color: #591D53;
        --bs-btn-disabled-bg: #591D53;
        --bs-btn-disabled-border-color: #591D53;
    }

    .btn-outline-primary {
        --bs-btn-color: #C863BE;
        --bs-btn-border-color: #C863BE;
        --bs-btn-hover-bg: #591D53;
        --bs-btn-hover-border-color: #591D53;
        --bs-btn-active-bg: #591D53;
        --bs-btn-active-border-color: #591D53;
        --bs-btn-disabled-bg: #591D53;
        --bs-btn-disabled-border-color: #591D53;
    }
}
