.navbar {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 16px;
}

@media(max-width: 575px) {
    .container-fluid {
        display: block !important;
        text-align: center;
    }
    .navbar-nav {
        display: block;
    }
    .nav-item {
        display: inline-block;
    }
}

.navbar, .dropdown-menu {
    background: url('/img/white.png'), url('/img/bg-light.jpg') top / cover;
}

.month-12 .navbar,
.month-1 .navbar,
.month-2 .navbar,
.month-12 .dropdown-menu,
.month-1 .dropdown-menu,
.month-2 .dropdown-menu {
    background: url('/img/white.png'), url('/img/bg-light-alt.jpg') center / cover;
}

@font-face {
    font-family: "Gontserrat";
    src: url('/fonts/Gontserrat-Light.ttf');
}
@font-face {
    font-family: "Hey August";
    src: url('/fonts/HeyAugust.otf');
}

.navbar .navbar-brand a {
    color: rgb(33, 37, 41);
    text-decoration: none;
    font-family: "Hey August", sans-serif;
    font-size: 30px;
}
.navbar-nav {
    font-family: "Gontserrat", sans-serif;
}

.navbar-brand img {
    border-radius: 50%;
    height: 50px;
    margin-right: 7px;
    margin-top: -14px;
    margin-bottom: -5px;
}

.month-6 .navbar-brand a::before {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    background: linear-gradient(to bottom, #5BCEFA 0% 20%, #F5A9B8 20% 40%, #FFF 40% 60%, #F5A9B8 60% 80%, #5BCEFA 80% 100%);
    content: '';
    display: inline-block;
    margin-right: -53px;
    margin-bottom: -16px;
    margin-top: -20px;
}

.month-6 .navbar-brand img {
    background-color: #FCF6E0;
}

@media(prefers-color-scheme: dark) {
    .navbar, .dropdown-menu {
        background: url('/img/black.png'), url('/img/bg-dark.jpg') center / cover;
    }
    .month-6 .navbar-brand img {
        background-color: #361738;
    }
    .month-12 .navbar,
    .month-1 .navbar,
    .month-2 .navbar,
    .month-12 .dropdown-menu,
    .month-1 .dropdown-menu,
    .month-2 .dropdown-menu {
        background: url('/img/black.png'), url('/img/black.png'), url('/img/bg-dark-alt.jpg') top / cover;
    }
    .navbar .navbar-brand, .navbar .navbar-brand a {
      color: #fff;
    }
}
