.alert {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    margin-bottom: 0;
    list-style: disclosure-closed;
}

@media (prefers-color-scheme: dark) {
    code {
        color: #ff5c99;
    }
}