.alert-info {
    margin-top: 20px;
}
h1.botname {
    margin-top: 20px;
}
h1.botname.margin {
    margin-top: 30px;
    border-top: solid lightgray 1px;
    padding-top: 30px;
}
.botlogo.extra-margin {
    margin-right: 10px;
}

img {
    max-width: 100%;
    margin-top: -10px;
}

.end {
    margin-top: 20px;
    margin-bottom: 30px;
}

.darktheme {
    display: none;
}

@media(max-width: 767px) {
    h1.botname {
        font-size: 17pt;
    }
    .botlogo.extra-margin {
        margin-right: 5px;
    }

    h1 .botlogo {
        width: 50px;
        height: 50px;
        margin-top: -7px;
    }
}

@media(prefers-color-scheme: dark) {
    .lighttheme {
        display: none;
    }

    .darktheme {
        display: block;
    }

    h1.botname.margin {
        border-top: solid #444 1px;
    }

    code {
        color: #ff5c99;
    }
}

.botlogo {
    width: 100px;
    height: 100px;
}

.gametitle {
    display: block;
    margin-bottom: 15px;
}

.big-badge {
    margin-left: 10px;
}
@media(max-width: 499px) {
    .big-badge {
        display: none;
    }
}
@media(min-width: 500px) {
    .small-badge {
        display: none;
    }
}

.btn-primary {
    margin-right: 12px;
}

.framed img {
    border: solid lightgray 2px;
}

@media(prefers-color-scheme: dark) {
    .framed img {
        border: solid #555 2px;
    }
}

.space {
    margin-top: 30px;
}

.credits {
    font-size: 10pt;
    font-style: italic;
}