pre {
    background: #eee;
    border: solid gray 1px;
    padding: 4px;
    margin: 5px 0;
    white-space: pre-wrap;
}

ul {
    margin-bottom: 2px;
}

.error-description {
    margin-top: 15px;
    margin-bottom: 0;
}

.btn-outline-dark {
    margin-bottom: 20px;
}

#download-sample-yaml {
    display: block;
    margin: 10px 0;
}