pre {
    background: #eee;
    border: solid gray 1px;
    padding: 4px;
    margin: 5px 0;
    white-space: pre-wrap;
}

ul {
    margin-bottom: 2px;
}

.error-description {
    margin-top: 15px;
    margin-bottom: 0;
}

.btn-outline-dark {
    margin-bottom: 20px;
}

@media(prefers-color-scheme: dark) {
    .btn-outline-dark {
        color: #f8f9fa;
        border-color: #f8f9fa;
    }
    .btn-outline-dark:hover {
        background-color: #f8f9fa;
        color: #000;
    }
    .btn-outline-dark:focus {
        box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, .5);
        background-color: #f8f9fa;
        color: #000;
    }
}