.home h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.home div {
    margin-bottom: 1rem;
}

.home ul {
    margin-top: -0.5rem;
}

.text-secondary {
    font-style: italic;
}
.text-warning {
    color: rgb(136, 114, 47) !important;
}

.august {
    font-family: "Hey August", sans-serif;
    font-size: 20pt;
}