.btn {
    margin: 3px 1px;
}

.alert p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.badge.bg-warning {
    background-color: #a07f1c !important;
}

.dependent-count {
    margin-top: -10px;
}
pre {
    background: var(--bs-info-bg-subtle);
    border: solid var(--bs-info-border-subtle) 1px;
    padding: 4px;
    margin: 5px 0 25px 0;
    white-space: pre-wrap;
}

.mlp:hover {
  color: #fff;
}

.mlp {
  text-decoration: none;
  color: #fff;
}