.btn {
    margin-top: 20px;
    margin-bottom: 10px;
}

.space {
    margin-top: 40px;
}

.container img {
    max-width: 100%;
    display: block;
}

b {
    margin-top: 10px;
    display: block;
}

.container .darktheme {
    display: none;
}

@media(prefers-color-scheme: dark) {
    .container .lighttheme {
        display: none;
    }

    .container .darktheme {
        display: block;
    }
}

@media(max-width: 450px) {
    h1 {
        font-size: 1.8em;
    }
}
