#nav a {
    font-weight: 700;
    color: #2c3e50;
}

#nav a.active {
     color: #42b983;
}

#nav {
    display: block;
    text-align: center;
    padding: 30px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

@media(prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #DEDAD6;
    }

    #nav a {
        color: #A5A5A5;
    }
    #nav a.active {
        color: #4ED898;
    }

    .alert-success {
        color: #fff;
        border-color: #00b74a;
        background-color: #00913b;
    }
    .alert-info {
        color: #fff;
        border-color: #39c0ed;
        background-color: #16b5ea;
    }
    .alert-warning {
        color: #fff;
        border-color: #ffa900;
        background-color: #d99000;
    }
    .alert-danger {
        color: #fff;
        border-color: #f93154;
        background-color: #be0626;
    }
    .alert.alert-danger a {
        color: #d7d7d7;
    }
    .alert a {
        color: black;
        text-decoration: underline;
    }
    .alert a:hover {
        color: black;
    }

    .alert-danger pre {
        background-color: black;
        color: #DEDAD6;
    }

    a {
        color: #47a0ff;
    }

    .btn-outline-primary {
        color: #47a0ff;
        border-color: #47a0ff;
    }
    .btn-outline-secondary {
        color: #909ca6;
        border-color: #909ca6;
    }
}
