.btn {
    margin: 3px 1px 20px 1px;
}
.alert-danger {
    color: #fff;
    border-color: #bf203d;
    background-color: #8e071e;
}
body {
    color: #DEDAD6;
    background-color: #151D23;
}
p {
    margin-bottom: 0;
}
.form-group {
    margin-bottom: 16px;
}
.form-control {
    background-color: black;
    border-color: #83888c;
    color: #dedad6;
}
.form-control:disabled {
    background-color: #515151;
}
.form-control:focus {
    background-color: black;
    color: #dedad6;
    border-color: #125cc8;
}
.container {
    margin-top: 30px;
}
.alert-success {
    color: #fff;
    border-color: #00a442;
    background-color: #016f2d;
}