.space {
    margin-top: 40px;
}

.btn {
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    border-bottom: solid lightgray 1px;
    padding-bottom: 5px;
    margin-top: 30px;
}

@media(max-width: 450px) {
    h1 {
        font-size: 1.8em;
    }
}
