:root {
    --custom-theme-background: linear-gradient(128.92deg, var(--bg-gradient-chroma-glow-1) 3.94%, var(--bg-gradient-chroma-glow-2) 26.1%, var(--bg-gradient-chroma-glow-3) 39.82%, var(--bg-gradient-chroma-glow-4) 56.89%, var(--bg-gradient-chroma-glow-5) 76.45%);

    --theme-base-color-light-hsl: 207.05882352941177 100% 90%;
    --theme-base-color-light: rgb(204,232,255);
    --theme-text-color-light: rgb(53,0,128);
    --theme-base-color-dark-hsl: 265.3846153846154 100% 5.098039215686274%;
    --theme-base-color-dark: rgb(11,0,26);
    --theme-text-color-dark: rgb(153,209,255);
    --theme-base-color-amount: 50%;
    --theme-text-color-amount: 38%;
    --bg-overlay-selected: unset;
    --bg-overlay-hover: unset;
    --bg-overlay-active: unset;
}
