:root {
    --custom-theme-background: linear-gradient(64.92deg, var(--bg-gradient-crimson-moon-1) 16.17%, var(--bg-gradient-crimson-moon-2) 72%);

    --theme-base-color-light-hsl: 0 100% 90%;
    --theme-base-color-light: rgb(255,204,204);
    --theme-text-color-light: rgb(77,0,0);
    --theme-base-color-dark-hsl: 0 100% 5.098039215686274%;
    --theme-base-color-dark: rgb(26,0,0);
    --theme-text-color-dark: rgb(255,229,229);
    --theme-base-color-amount: 50%;
    --theme-text-color-amount: 38%;
    --bg-overlay-selected: unset;
    --bg-overlay-hover: unset;
    --bg-overlay-active: unset;
}
