:root {
    --custom-theme-background: linear-gradient(38.99deg, var(--bg-gradient-desert-khaki-1) 12.92%, var(--bg-gradient-desert-khaki-2) 32.92%, var(--bg-gradient-desert-khaki-3) 52.11%);

    --theme-base-color-light-hsl: 50.588235294117645 100% 90%;
    --theme-base-color-light: rgb(255,247,204);
    --theme-text-color-light: rgb(77,51,0);
    --theme-base-color-dark-hsl: 39.23076923076923 100% 5.098039215686274%;
    --theme-base-color-dark: rgb(26,17,0);
    --theme-text-color-dark: rgb(255,251,229);
    --theme-base-color-amount: 50%;
    --theme-text-color-amount: 38%;
    --bg-overlay-selected: unset;
    --bg-overlay-hover: unset;
    --bg-overlay-active: unset;
}
