:root {
    --custom-theme-background: linear-gradient(180deg, var(--bg-gradient-dusk-1) 12.84%, var(--bg-gradient-dusk-2) 85.99%);

    --theme-base-color-light-hsl: 223.5294117647059 100% 90%;
    --theme-base-color-light: rgb(204,218,255);
    --theme-text-color-light: rgb(112,0,128);
    --theme-base-color-dark-hsl: 290.7692307692308 100% 5.098039215686274%;
    --theme-base-color-dark: rgb(22,0,26);
    --theme-text-color-dark: rgb(153,182,255);
    --theme-base-color-amount: 50%;
    --theme-text-color-amount: 38%;
    --bg-overlay-selected: unset;
    --bg-overlay-hover: unset;
    --bg-overlay-active: unset;
}
