:root {
    --custom-theme-background: linear-gradient(170.82deg, var(--bg-gradient-mars-1) 14.61%, var(--bg-gradient-mars-2) 74.62%);

    --theme-base-color-light-hsl: 15.294117647058806 100% 90%;
    --theme-base-color-light: rgb(255,217,204);
    --theme-text-color-light: rgb(77,19,0);
    --theme-base-color-dark-hsl: 13.846153846153847 100% 5.098039215686274%;
    --theme-base-color-dark: rgb(26,6,0);
    --theme-text-color-dark: rgb(255,236,229);
    --theme-base-color-amount: 50%;
    --theme-text-color-amount: 38%;
    --bg-overlay-selected: unset;
    --bg-overlay-hover: unset;
    --bg-overlay-active: unset;
}
