:root {
    --custom-theme-background: linear-gradient(148.71deg, var(--bg-gradient-retro-storm-1) 5.64%, var(--bg-gradient-retro-storm-2) 26.38%, var(--bg-gradient-retro-storm-2) 49.92%, var(--bg-gradient-retro-storm-1) 73.12%);

    --theme-base-color-light-hsl: 201.1764705882353 100% 90%;
    --theme-base-color-light: rgb(204,237,255);
    --theme-text-color-light: rgb(2,0,128);
    --theme-base-color-dark-hsl: 240 100% 5.098039215686274%;
    --theme-base-color-dark: rgb(0,0,26);
    --theme-text-color-dark: rgb(153,218,255);
    --theme-base-color-amount: 50%;
    --theme-text-color-amount: 38%;
    --bg-overlay-selected: unset;
    --bg-overlay-hover: unset;
    --bg-overlay-active: unset;
}
