:root {
    --custom-theme-background: linear-gradient(161.03deg, var(--bg-gradient-strawberry-lemonade-1) 18.79%, var(--bg-gradient-strawberry-lemonade-2) 49.76%, var(--bg-gradient-strawberry-lemonade-3) 80.72%);

    --theme-base-color-light-hsl: 40 100% 90%;
    --theme-base-color-light: rgb(255,238,204);
    --theme-text-color-light: rgb(77,36,0);
    --theme-base-color-dark-hsl: 27.692307692307693 100% 5.098039215686274%;
    --theme-base-color-dark: rgb(26,12,0);
    --theme-text-color-dark: rgb(255,246,229);
    --theme-base-color-amount: 50%;
    --theme-text-color-amount: 38%;
    --bg-overlay-selected: unset;
    --bg-overlay-hover: unset;
    --bg-overlay-active: unset;
}
