:root {
    --custom-theme-background: linear-gradient(179.14deg, var(--bg-gradient-under-the-sea-1) 1.91%, var(--bg-gradient-under-the-sea-2) 48.99%, var(--bg-gradient-under-the-sea-3) 96.35%);

    --theme-base-color-light-hsl: 175.2941176470588 100% 90%;
    --theme-base-color-light: rgb(204,255,251);
    --theme-text-color-light: rgb(0,77,49);
    --theme-base-color-dark-hsl: 156.92307692307693 100% 5.098039215686274%;
    --theme-base-color-dark: rgb(0,26,16);
    --theme-text-color-dark: rgb(229,255,253);
    --theme-base-color-amount: 50%;
    --theme-text-color-amount: 38%;
    --bg-overlay-selected: unset;
    --bg-overlay-hover: unset;
    --bg-overlay-active: unset;
}
